body {
    width: 1280px;
    margin: 0 auto;
    font-family: arial;
    background-color: #ccc;
}

.padding-site {
    padding: 50px;
    box-sizing: border-box;
}

.main-header {
    width: 100%;
    background-color: #445162;
    color: #fff;
}

.main-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-header-wrp {
    float: left;
}

.main-header-title {
    margin: 0 0 20px 0;
    font-size: 60px;
    font-weight: 400;
}

.main-header-list {
    margin: 0 auto;
    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
}

.main-header-list-item {
    list-style-type: none;
    position: relative;
}

.main-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 20px;
    position: absolute;
    top: 3px;
    left: -36px;
    background-image: url(img/check_icon.png);
    background-size: cover;
}

.main-header-image {
    width: 450px;
    min-height: 240px;
    float: right;
    display: block;
    background-color: #fff;
    color: #000;
}

.main-first-section {
    width: 100%;
    background-color: #fff;
    color: #5e6977;
}

.main-first-section:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}

.main-first-title {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.main-first-section-div {
    float: left;
}

.main-first-desc {
    margin: 20px 0 0 0;
    width: 660px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.main-first-image {
    width: 430px;
    min-height: 245px;
    float: right;
    display: block;
    background-color: #445161;
    color: #fff;
}

.main-second-section {
    width: 100%;
    background-color: #f5f5f5;
    color: #5e6977;
}

.main-second-title {
    margin: 0 0 20px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.main-second-section-details {
    margin: 0 0 20px 0;
    padding: 0 0 0 35px;
    width: 45%;
    color: #333333;
    float: left;
    position: relative;
}

summary::-webkit-details-marker {
    display: none
}

summary {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

summary:before {
    position: absolute;
    background-color: #445161;
    content: "+";
    color: #fff;
    float: left;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    width: 30px;
    top: 3px;
    left: 0;
}
.main-second-section-div:after {
    content: "";
    display: block;
    clear: both;
}

.main-third-section {
    width: 100%;
    background-color: #fff;
    color: #445161;
}

.main-third-section:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-third-title {
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.main-third-section-fig {
    width: 49%;
    margin: 20px 0 0 0;
    box-sizing: border-box;
    display: block;
}

.main-third-section-fig:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-third-section-fig:nth-child(even) {
  float: left;
}
.main-third-section-fig:nth-child(odd) {
  float: right;
}

.main-third-section-image {
    width: 200px;
    min-height: 150px;
    margin: 0 10px 0 0;
    display: block;
    background-color: #445161;
    color: #fff;
    float: left;
}

.main-third-section-figcap {
    width: 360px;
    float: right;
}

.main-third-section-title {
    margin: 0 0 10px 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.main-third-section-desc {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}